In [1]:
import pandas as pd
import numpy as nd

In [9]:
df = pd.read_csv('Iris_data_sample.csv')
print("the first 5 rows of the data frame are")
df.head(5)

the first 5 rows of the data frame are

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [10]:
print("the last 5 rows of the data frame are")
df.tail(5)

the last 5 rows of the data frame are

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
print(df.dtypes)

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [14]:
df.describe()

       Unnamed: 0  SepalWidthCm  PetalWidthCm
count  150.000000    149.000000    150.000000
mean    75.500000      3.054362      1.198667
std     43.445368      0.435034      0.763161
min      1.000000      2.000000      0.100000
25%     38.250000      2.800000      0.300000
50%     75.500000      3.000000      1.300000
75%    112.750000      3.300000      1.800000
max    150.000000      4.400000      2.500000

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from transformers import pipeline
import numpy as np

# Sample reference corpus (replace with your domain-specific data)
REFERENCE_CORPUS = [
    "This product is absolutely amazing! Best purchase ever!",
    "Terrible experience, would never recommend to anyone.",
    "The service was average but the food was disappointing.",
    "Fake review alert! This is clearly manipulated content.",
    "Decent quality for the price, but not exceptional."
]

def analyze_review(text):
    # Plagiarism Check using Cosine Similarity
    vectorizer = TfidfVectorizer().fit_transform([text] + REFERENCE_CORPUS)
    vectors = vectorizer.toarray()
    similarities = cosine_similarity(vectors[0:1], vectors[1:])
    plagiarism_score = np.max(similarities) * 100

    # AI Content Detection using HuggingFace model
    ai_detector = pipeline("text-classification", model="roberta-base-openai-detector")
    ai_result = ai_detector(text)[0]
    
    return {
        "plagiarism_risk": round(plagiarism_score, 2),
        "ai_generated": ai_result['label'],
        "ai_confidence": round(ai_result['score'] * 100, 2)
    }

# Example usage
user_review = input("Enter review text to analyze: ")
results = analyze_review(user_review)

print(f"\nAnalysis Results:")
print(f"Plagiarism Risk: {results['plagiarism_risk']}%")
print(f"AI Generation: {results['ai_generated']} ({results['ai_confidence']}% confidence)")

config.json:   0%|          | 0.00/624 [00:00<?, ?B/s]

c:\Users\akhil\AppData\Local\Programs\Python\Python312\Lib\site-packages\huggingface_hub\file_download.py:142: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\akhil\.cache\huggingface\hub\models--roberta-base-openai-detector. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

model.safetensors:   0%|          | 0.00/501M [00:00<?, ?B/s]

Some weights of the model checkpoint at roberta-base-openai-detector were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

tokenizer_config.json:   0%|          | 0.00/25.0 [00:00<?, ?B/s]

vocab.json:   0%|          | 0.00/899k [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.36M [00:00<?, ?B/s]

Device set to use cpu

Analysis Results:
Plagiarism Risk: 0.0%
AI Generation: Fake (99.91% confidence)